flask
werkzeug
torch
torchvision
numpy
pillow
opencv-python-headless
matplotlib
tqdm
scikit-learn
pandas
albumentations
segmentation-models-pytorch
efficientnet-pytorch
transformers
einops
tensorboard
xformers
pathlib
zipfile36
typing_extensions
pydantic
python-multipart
uvicorn
fastapi
jinja2
aiofiles
requests
gunicorn
black